@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0A0A0A;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Шапка */

.header {
    background-color: #0A0A0A;
    padding: 33px 0 32px;
    color: #717171;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; 
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.menu-item {
    padding-right: 30px;
}

.menu-item:nth-last-child(1) {
    padding-right: 0px;
}

.menu-btn {
    display: none;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

/* main */

.headline {
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin: 0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
}
.headline-img {
    margin-bottom: 25px;
    
}
.headline_btn {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

/* Что нового */

.new {
    padding: 90px 0 150px;
}

.new_title,
.color_title {
    margin: 0 0 50px;
    text-transform: uppercase;
    color: #717171;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}
.new_info {
    display: flex;
    align-items: center;
}
.new_text p {
    max-width: 560px;
    margin: 0 0 30px;
    line-height: 18px;
    font-size: 14px;
}
.new_text b {
    display: block;
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}
.new_img {
    margin-left: 191px;
}

/* Выбор цвета */

.color {
    padding-bottom: 150px;
}

.color_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.color_item img {
    margin-bottom: 20px;
}

.color_item h3 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 10px;
}

.color_item p {
    margin: 0;
}

/* Контакты */

.contacts_inner {
    display: flex;
    background-color: #574B63;
    color: #FFFFFF;
}
.contacts_form {
    width: 100%;
    padding: 140px 93px;
    text-align: center;
}
.contacts_title {
    margin: 0 0 60px;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
}
.contacts_input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #574B63;
}
input:focus {
    outline: none;
}
input, textarea {
    color: #fff;
}

.contacts_input::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts_form p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.contacts_form button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    color: #490E84;
    border-radius: 30px;
    padding: 16px 81px;
    font-weight: 700;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #0A0A0A;
}

.footer_inner {
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}

.footer_link {
    flex-basis: 0px;
    flex-grow: 1;
}

.phone {
    font-size: 24px;
    line-height: 29px;
}

/* Адаптив */

@media (max-width: 1200px) {
    .headline-img {
        max-width: 100%;
    }
    .contacts_inner {
        display: block;
    }
    .contacts_form {
        width: auto;
    }
    .contacts_title {
        text-align: center;
    }
    .contacts_img {
        width: 100%;
    }
    .contacts {
        background-color: #574B63;
    }
}

@media (max-width: 940px) {
    .new_img {
        display: none;
    }
    .new_text p,
    .new_text b {
        max-width: 100%;
    }
    .color_list {
        flex-wrap: wrap;
    }
    .color_item {
        width: 50%;
        margin-bottom: 30px;
    }
    .phone {
        text-align: center;
    }
    .menu-btn {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: 1;
        z-index: 50;
    }
    .logo, .phone {
        position: relative;
        z-index: 50;
    }
    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;
        transition: .5s ease;
    }
    .btn-line:nth-child(1) {
        top: 0;
    }
    .btn-line:nth-child(2) {
        top: 20px;
    }
    .btn-line:nth-child(3) {
        top: 20px;
    }
    .btn-line:nth-child(4) {
        top: 40px;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0A0A0A;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-100%);
        transition: .5s all;
    }
    .nav_active .menu {
        transform: translateY(0);
    }
    .menu-item {
        padding-right: 0;
        padding: 30px 0;
        font-size: 50px;
    }
    .nav_active .btn-line:nth-child(1) {
        transform: scaleX(0);
    }
    .nav_active .btn-line:nth-child(2) {
        transform: rotate(45deg);
    }
    .nav_active .btn-line:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav_active .btn-line:nth-child(4) {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .headline, .new {
        padding: 50px 0;
    }
    .color {
        padding-bottom: 50px;
    }
    .contacts_form {
        padding: 50px 70px;
    }
}

@media (max-width: 650px) {
    .footer_inner {
        flex-direction: column;
    }
    .footer img {
        margin: 15px 0;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 34px;
        line-height: 42px;
    }
    .new_title, .color_title {
        font-size: 26px;
        line-height: 30px;
    }
    .headline_btn {
        font-size: 18px;
        line-height: 22px;
        padding: 16px 90px;
    }
        .color_item, .color_item img {
        width: 100%;
    }
    .contacts_form {
        padding: 50px 30px;
    }
}

@media (max-width: 420px) {
    .phone {
        flex-basis: auto;
    }
    .nav {
        flex-wrap: wrap;
    }
    .menu-item {
        font-size: 40px;
        padding: 25px 0;
    }
}

@media (max-width: 375px) {
    .contacts_form {
        padding: 50px 10px;
    }
}
